.classpath
.project
.settings

.idea
*.class

# Package Files #
*.jar
*.war
*.ear

# maven-shade
dependency-reduced-pom.xml

target/*
log/*
data/*
www/data
www/data/*
conf/*.properties
tmp/*

*sass-cache*
run/*
