!!! 5
%meta(charset="utf-8")
%html
  %head
    %title MapR Realtime Streaming Demo
    %link( rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" )
    %link( rel="stylesheet" type="text/css" href="css/chart.css" )
  %body
    #container
      #header
        .logo
        .title Streaming Computation - MapR & Storm
      #sections
        #words
          %h2 Other Words in Tweets Containing 'mapr'
        #users
          %h2 Twitter Usernames
    #tooltip
      #tt-container
        .name
        .value
        .tail
    %script(type="text/javascript" src="js/jquery-1.8.3.js")
    %script(type="text/javascript" src="bootstrap/js/bootstrap.min.js")
    %script(type="text/javascript" src="js/d3.v3.js" charset="utf-8")
    %script(type="text/javascript" src="js/d3.layout.cloud.js" charset="utf-8")
    %script(type="text/javascript" src="js/cloud.js")
    %script(type="text/javascript" src="js/chart.js")
