$bg: rgba(1,70,127,0.85);

body {
    color: rgb(1,70,127);
    background-color: $bg;
    margin: 0;
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    font-size: 12px;
}

#container {
    margin: 0px auto 22px;
    padding: 10px;
    clear: both;
    width: 980px;
    height: 1000px;
    background-color: white;
    background-image:url("../img/lattice.png");
    background-position: right top;
    background-size: 90% auto;
    background-repeat: no-repeat;

    .settings {
        .menu-item {
            margin: 0.5em;
            input {
                margin-bottom: 0px;
            }

            #hide_top {
                width: 1.5em;
            }
        }
    }

    .title {
        font-size: 2em;
        text-align: center;
        font-weight: bold;
    }

    #sections {
        margin-top: 10px;
        div {
            display: inline-block;
            vertical-align: top;
            h2 {
                font-size: 1.50em;
                text-align: center;
                text-shadow: white 0.1em 0.1em 0.2em;
                width: 100%;
                background-color: rgba(255,255,255,0.75)
            }
        }

        svg {
            background-color: $bg;
            border-radius: 20px;
            height: 500px;
        }

        #words text {
            pointer-events: none;
        }

        #users {
            width: 410px;
            margin-left: 10px;
        }
    }
}

#tooltip {
    display: none;
    position: absolute;
    z-index: 1000;
    text-align: center;

    #tt-container {
        position: absolute;
        bottom: 0;
        width: 230px;
        left: -125px;
        font-size: 12px;
        line-height: 16px;
        padding: 10px;
        border-radius: 3px;
        background: rgba(255,255,255,0.9);
        color: #000;
        box-shadow: 0 1px 5px rgba(0,0,0,0.4);
        -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
        border:1px solid rgba(200,200,200,0.85);
        text-align:center;

        .tail {
            position: absolute;
            bottom: -8px;
            left: 105px;
            width: 40px;
            height: 8px;
            background: url('../img/tail_white.png') 50% 0%;
        }
    }
}
